body {
  height: 100%;
  width: 980px;
  padding-top: 35px;
  padding-left: 100px;
  position:absolute;
}
.container {
  height: 387px;
  margin-bottom: 20px;

}
.titlebox {
  width: 490px;
  height: 388px;
  background-color: grey;
  margin-left: 30px;
  margin-top: 66px;
  float: left;

}
.titletext {
  font-size: 60px;
  margin-left: 50px;
  padding: 25px;
  font-family: cursive, Arial;
  color: #FFFFFF;
  font-weight: bold;

}

.navbar-brand {
  background-color: #FFFFFF;
  opacity: 0.5;
  margin-top: 25px;
  font-size: 24px;
}
.navbar-header {
  height: 100px;
  border-color: #ffffff;
}
.slides {
  float: left;
  margin-top: 50px;

}

/*start here*/

.masonry-brick {

    display: inline-block;
    padding: 5px;
    width: 200px;
    margin: 10px; /* for separating masonry-bricks vertically*/
    margin-left: 40px;
}

@media only screen and (min-width: 480px) {
    .masonry-container {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 768px) {
    .masonry-container {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 960px) {
    .masonry-container {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}
.grid {
  display: inline-block;
  width: 1010px;
  height: 658px;
  margin-left: 35px;
  text-align: center;
  float: left;

}

.longbox {
  margin: 10px;
  background-color: #C0C0C0;
  width: 314px;
  height: 657px;
  float: left;
}
.mediumbox {
  background-image: url("img/IMG_2158");
  width: 314px;
  height: 469px;
  margin: 10px;
}
.mediumboxx {
  background-image: url("img/IMG_2158");
  width: 314px;
  height: 469px;
  margin: 10px;
}
.squarebox {
  margin: 10px;
  background-color: #C0C0C0;
  width: 314px;
  height: 319px;
  float: left;
}
.buttonbox {
  margin: 10px;
  background-color: #C0C0C0;
  width: 314px;
  height: 170px;
  float: left;
}
.footer {
  bottom: 0;
  width: 1300px;
  height: 100px;
  background-color: #ffffff;
  border-top: solid 1px #C0C0C0;
  margin-left: -100px;
  text-align: center;
  margin-top: 15px;
  float: left;
}
.title {
  font-size: 25pt;
  font-family: Veranda, serif;
  color: #c0c0c0;
  font-weight: bold;
  margin-top: 55px;
  margin-left: 50px;
  margin-bottom: 20px;
  float: left;
}
.column {
  border-top: 1px solid #c0c0c0;
  height:1500px;
  width: 200px;
  float: left;
  margin: 10px;
  margin-left: 35px;
  margin-bottom: 20px;
}
.list {
  margin-left: 5px;
  margin-top: 10px;
}
.boxes {
  height: 100%;
}
.element {
 font-size: 55px;
 font-family: Apple Chancery, sans-serif;
 font-weight: bold;
 color: #ffffff;
 text-align: center;
 margin-top: 45px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  position: relative;
  margin: 10px;
  overflow: hidden;
  width: 314px;
  float: left;
}
.item img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.price {
  width: 300px;
  margin-left: 7px;
  background-color: #c0c0c0;
  float: left;


}
.price p {
  font-size: 20px;
  margin-top: 10px;
  font-family: serif;
}
